.card{
    width: 300px;
}

.img{
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color: grey;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
}

.error-container{
    border: 1px solid;
	margin: 10px auto;
	padding: 5px 5px;
    color: #D8000C;
	background-color: #FFBABA;
    border-radius: 10px;
}

.error-input{
    border-color: #D8000C;
}